@import "../css/vars.css";

.jazzkitchen-footer {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 3em 0 0;

  .jazzkitchen-footer-inner {
    color: var(--grey100);
    padding: 2em var(--side-space);
  }

  a:visited, a {
    text-decoration: none;
    color: white;
    transition: color 200ms ease;
    &:hover, &:active {
      color: white;
    }
  }
}
