@import "../css/vars.css";

.jazzkitchen {
  width: 100%;

  .jazzkitchen-header {
    margin-bottom: 2em;

    .jazzkitchen-header-content {
      text-align: center;
      padding: 0 var(--side-space);
      color: white;
      text-shadow: 2px 2px black;

      .ory-plugins-content-slate-paragraph-placeholder {
        color: white;
      }
    }

    nav {
      user-select: none;
      transition: all ease var(--transform-delay);
      background-color: rgba(0, 0, 0, 0.5);
      white-space: nowrap;
      width: 100%;

      .jazzkitchen-nav-inner {
        width: 100%;

        ul {
          max-width: 90%;
          display: flex;
          justify-content: flex-start;
          margin: 0 auto;

          label {
            padding-right: 1.5em !important;
          }

          input:checked ~ label::after {
            transform: rotate(-90deg);
          }

          label::after {
            content: "chevron_right";
            font-family: "Material Icons";
            position: absolute;
            transform: rotate(90deg);
            color: var(--grey500);
            line-height: 1em;
            font-size: 1.1em;
            background-color: var(--grey300);
            border-radius: 100%;
            z-index: 1;
            font-feature-settings: 'liga', 'clig';
            font-variant-ligatures: common-ligatures;
            margin: 0.3em 0.2em 0 0;
            transition: transform 0.25s ease-in-out;
          }

          & > li {
            display: inline;
            margin: 0 0.1em;

            a, label {
              color: white;
              text-decoration: none;
              transition: all var(--transform-delay);
              padding: 1em;
              cursor: pointer;
              display: inline-block;

              &:hover {
                font-weight: 400;
                background-color: var(--design-color-highlight);
              }
            }

            ul {
              flex-direction: column;
              display: none;
              margin: 0;
              position: absolute;
              background-color: rgba(0, 0, 0, 0.5);
              z-index: 4;

              li a {
                display: block;
              }
            }

            input:checked ~ ul {
              display: flex;
            }

            input[type=checkbox] {
              display: none;
            }

            a.active {
              background-color: var(--design-color);
              font-weight: 400;
            }
          }
        }
      }
    }
  }

  @media (--mobile) {
    .jazzkitchen-header-content {
      padding: 0 var(--side-space-mobile);
    }

    .jazzkitchen-nav-inner ul {
      margin: 0;
      flex-direction: column;

      li {
        a {
          display: block;
        }

        ul {
          position: relative;
          background-color: initial;
        }
      }
    }
  }
}
