h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

p, li, body {
  font-family: 'Roboto', sans-serif;
}

.jazzkitchen-bg {
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  .image-gallery-image {
    background: no-repeat fixed center;
    background-size: cover;
  }

  div {
    height: 100%;
  }
}
